.demo ul {
  justify-content: center;
  display: flex;
  list-style: none;
}
.demo ul li {
  margin: 1vmin;
}
.demo {
  font-size: 24pt;
}
.demo ul li a {
  color: green;
}
.demo ul li a.active {
  color: red;
}
